@tailwind base;
@tailwind components;
@tailwind utilities;

img {
  width: 64px; /* Adjust size as needed */
  height: 64px;
  border-radius: 50%;
  object-fit: cover;
}

/* @import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css"; */

/* Slide text animation */
@keyframes slideRightToLeft {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.slider-container {
  background-color: rgba(0, 0, 0, 0.1); /* Subtle background */
  margin-bottom: 2.5rem;
  min-height: 15vh;
  overflow: hidden; /* Hide overflowing text */
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider-content {
  display: flex;
  gap: 3rem; /* Space between each text block */
  white-space: nowrap; /* Prevent text wrapping */
  animation: slideRightToLeft 30s linear infinite; /* Smooth infinite animation */
}

.slider-text {
  display: inline-flex;
  align-items: center;
  font-size: 1.875rem; /* Text size */
  font-weight: 600; /* Bold text */
  text-transform: capitalize; /* Capitalize text */
  color: #FF6B6B; /* Updated color to fit an e-commerce theme */
}
